#showbox {
 z-index: 11;
 top: 0;
 color: var(--whit);
 text-align: center;
}

#showbox #pl { 
  pointer-events:none; 
  position: fixed;
  z-index:115; 
  width: 100%; height: calc(100vh - 5rem); top: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#showbox #pl .sk { 
  position: absolute; width: 40px;height: 40px;
}
#showbox #pl .sk .ccl {
  width: 100%;height: 100%;position: absolute;left: 0;top: 0;
}
#showbox #pl .sk .ccl:before {
  content: '';
  display: block;
  margin: 0 auto;width: 15%;height: 15%;background-color: var(--whit);border-radius: 100%;
  -webkit-animation: FadeDelay 1.2s infinite ease-in-out both;
          animation: FadeDelay 1.2s infinite ease-in-out both;
}
#showbox #pl .sk .ccl.off {
  -webkit-animation: FadeDelay 0s ease-in-out both;
          animation: FadeDelay 0s ease-in-out both;
   animation-iteration-count: 0;
   -webkit-animation-iteration-count: 0;
}
#showbox #pl .sk .s2k {
  -webkit-transform: rotate(30deg); -ms-transform: rotate(30deg); transform: rotate(30deg);
}
#showbox #pl .sk .s3k {
  -webkit-transform: rotate(60deg); -ms-transform: rotate(60deg); transform: rotate(60deg);
}
#showbox #pl .sk .s4k {
  -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg);
}
#showbox #pl .sk .s5k {
  -webkit-transform: rotate(120deg); -ms-transform: rotate(120deg); transform: rotate(120deg);
}
#showbox #pl .sk .s6k {
  -webkit-transform: rotate(150deg); -ms-transform: rotate(150deg); transform: rotate(150deg);
}
#showbox #pl .sk .s7k {
  -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);
}
#showbox #pl .sk .s8k {
  -webkit-transform: rotate(210deg); -ms-transform: rotate(210deg); transform: rotate(210deg);
}
#showbox #pl .sk .s9k {
  -webkit-transform: rotate(240deg); -ms-transform: rotate(240deg); transform: rotate(240deg);
}
#showbox #pl .sk .s10k {
  -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg);
}
#showbox #pl .sk .s11k {
  -webkit-transform: rotate(300deg); -ms-transform: rotate(300deg); transform: rotate(300deg); 
}
#showbox #pl .sk .s12k {
  -webkit-transform: rotate(330deg); -ms-transform: rotate(330deg); transform: rotate(330deg); 
}
#showbox #pl .sk .s2k:before {
  -webkit-animation-delay: -1.1s; animation-delay: -1.1s; 
}
#showbox #pl .sk .s3k:before {
  -webkit-animation-delay: -1s; animation-delay: -1s; 
}
#showbox #pl .sk .s4k:before {
  -webkit-animation-delay: -0.9s; animation-delay: -0.9s; 
}
#showbox #pl .sk .s5k:before {
  -webkit-animation-delay: -0.8s; animation-delay: -0.8s; 
}
#showbox #pl .sk .s6k:before {
  -webkit-animation-delay: -0.7s; animation-delay: -0.7s; 
}
#showbox #pl .sk .s7k:before {
  -webkit-animation-delay: -0.6s; animation-delay: -0.6s; 
}
#showbox #pl .sk .s8k:before {
  -webkit-animation-delay: -0.5s; animation-delay: -0.5s; 
}
#showbox #pl .sk .s9k:before {
  -webkit-animation-delay: -0.4s; animation-delay: -0.4s;
}
#showbox #pl .sk .s10k:before {
  -webkit-animation-delay: -0.3s; animation-delay: -0.3s;
}
#showbox #pl .sk .s11k:before {
  -webkit-animation-delay: -0.2s; animation-delay: -0.2s;
}
#showbox #pl .sk .s12k:before {
  -webkit-animation-delay: -0.1s; animation-delay: -0.1s;
}
@-webkit-keyframes FadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
@keyframes FadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}

#showbox #f0g {
  pointer-events:none; 
  display: block;
  position: sticky;
  z-index: 14;
  background-image:
  linear-gradient(to bottom, black 15%, transparent 30%),
  linear-gradient(to top, black 25%, transparent 40%),
  radial-gradient(ellipse at bottom, transparent 40%, black 80%),
  radial-gradient(ellipse at top, transparent 40%, black 80%);
  width: 100%;
  height: 100vh;
}

.ytblk {
  pointer-events:none; 
  position: absolute;
  width: 100%;
  left: 0;
  background: black;
}
#t1 {
  z-index: 13;
  height: 60px;
  top: 0; 
}
#t2 {
  z-index: 13;
  height: 180px;
  bottom: 0; 
}
#t3 {
  display: none;
  z-index: 14;
  bottom: 0;
  height: 232px;
}

#showbox #m {
 position: absolute;
 z-index: 12;
 width: 100%; height: 100vh; bottom: 0px;top: 0px;
}

#showbox .lower {
 position: relative;
 z-index: 112;
 top: -10rem;
 pointer-events:none;
}

.txt {
 width: calc(100% - 4rem);
 max-width: calc(640px - 4rem);
 padding: 0 2rem;
 padding-top: 21px;
 margin: 0 auto;
 text-align: center;
 overflow: hidden;
}

.txt .ln1, .txt .ln2 {
 display: block;
 white-space: nowrap; 
 overflow: hidden;
 text-overflow:ellipsis; 
}

.txt .ln2 {
 color: var(--dots); 
}

.sid { display: none;}
.title {
 font-style: italic;
 color: var(--red5);
}
.title:hover {
 color: var(--red0);
}
.year {}
.who {
 color: var(--blck);
}
.who:hover {
 color: var(--red0);
}

.kwcontainer {
 margin-top: 0.1rem;
 margin-bottom: 0rem;
 margin-left: -6px;
}

.kwcontainer small span {
 font-size: 13px;
}

.kwpost .media {
 cursor:pointer;
 display: inline-block;
 text-decoration: none;
 margin: 6px 6px; 
 padding-left:0.5rem;padding-right:0.5rem;padding-bottom:1px;padding-top:2px;
 border: 1px solid #444;  color: var(--blck); 
 background: none; 
 outline: none;
}

.kwpost .media:hover {
 background: none; color: var(--red5); 
 border: 1px solid var(--red5); 
}

.kwpost .media:active {
 background: var(--red0);  color: var(--whit); 
 border: 1px solid var(--red0); 
}

.kwpost .mature {
 display: inline-block;
 margin: 6px 6px; 
 padding-left:0.5rem;padding-right:0.5rem;padding-bottom:1px;padding-top:2px;
 border: 1px solid #222;  
 background: #222; 
 color: #eee;
}

#showbox #gobk {
 position: fixed;
 z-index: 115;
 width: 2.0rem;
 height: 2.0rem;
 top: 1.5rem; left: 1.5rem;
 background: var(--red1); 
 -webkit-transition: all .4s ease-in-out;
 transition: all .4s ease-in-out; 
}
#showbox  #gobk img {
 width: 1.4rem; height: 1.4rem;
 margin: 0.3rem;
}
#showbox  #gobk.prssd {
 background: var(--red2); 
  -webkit-transition: rotate(5deg);
 transform: rotate(5deg);
}

#showbox #rld {
  display: none;
  position: absolute; 
  z-index: 114;
  width: 5.7rem; height: 5.7rem;
  top: calc(50vh - 5.5rem); left: calc(50% - 3rem);
  border:2px solid #fff;
  border-radius:50%;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  background-position: 1.6rem 1.6rem;
  background-image:url(/static/pics/reload.png);   
   box-shadow: 0em 0em 3em #ddd, inset 0em 0em 3em #ddd, 0em 0em 0.5rem #fff, inset 0px 0px 10px #ddd;
  opacity: 0.8;
}
#showbox #rld:hover {
  opacity: 1.0;
}

