body {
 background: var(--blck); 
}

#main .tell {
 width:  100%;
 max-width: 640px;
 margin: 0 auto;
 margin-top: 84px;
 margin-bottom: 42px;
 text-align: left;
}
#main .tell .each {
 margin-left: 1.5rem;
 margin-right: 1.5rem;
 border-top: 2px dashed var(--dots); 
 padding-top: 0.8rem;
}
#main .tell .each ul {
 list-style-type: square;
 margin-top: 0px;
 margin-bottom: 15px;
}
#main .tell .each ul li {
 margin-left: -24px;
}
#main .tell .each small {
 color: var(--whit); 
}
#main .tell .each .sm {
 font-size: 16px;
 color: var(--dots); 
}
#main .tell .each .sm a {
 text-decoration: none;
 background: var(--hold);
 color: var(--dots); 
}
#main .tell .each .sm a:hover {
 background: #666;
 color: var(--blck); 
}
#main .tell .each small .red1 {
 color: var(--red1); 
}