{% extends "index.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/red.css">
    <script type="text/javascript" defer src="/static/scripts/contact.zombie"></script>{% endblock %}

{% block topbody %}{% endblock %}

{% block n0 %}
          <a href="/">Explore</a><br>
          <a href="/talk">SmallTalk</a><br>
          <a href="/limited">Escalate</a><br>{% endblock %}

{% block n1 %}
          <a href="/about">About & Terms</a><br>
          <span class="crs">Contact</span>{% endblock %}

{% block main %}
      <div id="red_t" class="email"></div>
      <div class="pt couch"><div class="tm"></div></div>{% endblock %}

{% block f %}{% endblock %}