{% extends "index.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/contact.css">
    <script type="text/javascript" defer src="/static/scripts/contact.zombie"></script>{% endblock %}

{% block topbody %}{% endblock %}

{% block n0 %}
          <a href="/">Explore</a><br>
          <a href="/talk">Talk</a><br>
          <a href="/limited">Limited Only</a><br>{% endblock %}

{% block n1 %}
          <a href="/about">About & Terms</a><br>
          <span class="crs">Contact</span>{% endblock %}

{% block main %}
      <div class="email"></div>
      <div class="pt"><div class="tm"></div></div>{% endblock %}

{% block f %}{% endblock %}