    <div class="newchunk">
      <form class="f10 xx">
        <input type="hidden" name="inheritedid" value="none" />
        <input type="hidden" name="hasimg" value="0" />
        <div class="tbox me">
          <p class="hundred">
            <textarea class="dsc" autofocus rows="3" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" name="description" placeholder=""></textarea>
          </p>
        </div>
        <div class="busy tbox top12">
          <div class="footer n">
            <div class="leftbut">
              <div class="ox">
                <div class="wrap"></div>
                <div class="x12 x pc"><img src="/static/pics/x.png"></div>
              </div>
              <div class="uploadpic pc up12"><img src="/static/pics/pic.png"></div>
              <div class="yup">
                <label for="OV"><small class="uup12 upup but pc op4">Upload</small></label><br>
                <small class="lkk12 link but pc op4">Link</small>
              </div>
            </div>
            <div class="rightbut">
              <img src="/static/pics/id.png">
              <small><input class="who" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="text" size=8 maxlength=24 value="" placeholder="any*****" name="whosent" /></small>
              <img src="/static/pics/key.png">
              <small><input class="scr" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="text" size=8 maxlength=24 placeholder="make*one" name="secret" value="" /></small>
            </div>
            <button class="ovly comment noout pc"><img src="/static/pics/sendblue.png"></button>
          </div>
        </div>
        <div class="dark n">
          <div class="link1"><img src="/static/pics/link1.png"></div>
          <small class="lip12 linkinput"><input class="linky" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="text" maxlength=240 placeholder="https://...(then enter)" name="linky" value="" onkeypress="return noenter()" /></small>
        </div>
      </form>
      <form class="f11 yy" enctype="multipart/form-data">
         <input id="OV" class="shc12 chs" type="file" name="file" accept="image/*, video/*" />
      </form>
    </div>