{% extends "index.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/show.css">
    <link rel="stylesheet" href="/static/css/show_taste.css">
    <link rel="stylesheet" href="/static/css/plyr.css">
    <script type="text/javascript" defer src="/static/scripts/show.zombie"></script>
    <script type="text/javascript" defer src="/static/scripts/first6.zombie"></script>
    <script type="text/javascript" defer src="/static/scripts/vplayer263.zombie"></script>
    <script type="text/javascript" defer src="/static/scripts/plyr.zombie"></script>{% endblock %}

{% block topbody %}
    <div class="bgscreen" id="showbox" data-url="/limited"></div>
    <div class="n" id="arrs">
      <div class="oo pc" id="up"><img src="/static/pics/arrs.png"></div>
      <div class="oo pc" id="dn"><img src="/static/pics/arrs.png"></div>
    </div>{% endblock %}

{% block n0 %}
          <a href="/">Explore</a><br>
          <a href="/share">Share</a><br>
          <span class="crs">Escalate</span><br>{% endblock %}

{% block n1 %}
          <a href="/about">About & Terms</a><br>
          <a href="/contact">Contact</a>{% endblock %}

{% block main %}{% endblock %}

{% block f %}{% endblock %}