{% extends "index.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/terms.css">
    <script type="text/javascript" defer src="/static/scripts/terms.zombie"></script>{% endblock %}

{% block topbody %}{% endblock %}

{% block n0 %}
          <a href="/">Taste 6</a><br>
          <a href="/explore">Explore</a><br>
          <a href="/talk">Talk</a><br>{% endblock %}

{% block n1 %}
          <span class="crs">About & Terms</span><br>
          <a href="/contact">Contact</a>{% endblock %}

{% block main %}{% endblock %}

{% block f %}{% endblock %}