{% extends "index.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/red.css">
    <script type="text/javascript" defer src="/static/scripts/terms.zombie"></script>{% endblock %}

{% block topbody %}{% endblock %}

{% block n0 %}
          <a href="/">Explore</a><br>
          <a href="/talk">SmallTalk</a><br>
          <a href="/limited">Escalate</a><br>{% endblock %}

{% block n1 %}
          <span class="crs">About & Terms</span><br>
          <a href="/contact">Contact</a>{% endblock %}

{% block main %}
      <div id="red_t" class="tell"></div>
      <div class="pt"><div class="tm"></div></div>{% endblock %}

{% block f %}{% endblock %}